body {
	font-family: calibri, arial, times, sans-serif;
	background-color: rgb(12, 12, 12);
	color: whitesmoke;
}

.center {
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

.linkContainer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 500px;
	height: 200px;
	margin: 0 auto;
}

.linkDiv {
	background: linear-gradient(rgb(63, 157, 250), #1467bb);
	width: 150px;
	height: 150px;
	line-height: 120px;
	vertical-align: middle;
	border-radius: 12px;
	transition: 400ms;
	margin-right: 20px;
}

.linkDiv:last-child {
	margin-right: 0px;
}

.linkDiv:hover {
	width: 200px;
	height: 200px;
	line-height: 170px;
}
