body {
	font-family: calibri, arial, times, sans-serif;
	background-color: black;
	color: whitesmoke;
}

.center {
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

.linksContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.linkDiv {
	background: linear-gradient(rgb(63, 157, 250), #1467bb);
	width: 150px;
	height: 125px;
	line-height: 125px;
	vertical-align: middle;
	border-radius: 8px;
	transition: 400ms;
}

.linkDiv:hover {
	width: 200px;
	height: 175px;
	line-height: 175px;
}
