body {
    font-family: calibri, arial, times, sans-serif;
    background-color: rgb(12, 12, 12);
    color: whitesmoke;
}

.center {
    text-align: center;
}

.coolerImg {
    margin-top: 20px;
    width: 200px;
}

.aioImg {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 200px;
}

.melhoresCoolersContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

.melhorCooler:last-child {
    margin-right: 0;
}

.melhorCooler {
    width: 225px;
    height: 300px;
    margin-right: 20px;
    background: linear-gradient(rgb(228, 84, 84), rgb(199, 73, 73));

    border-radius: 12px;
    border: 2px solid black;
}
td img {
    width: 100px;
}

table {
    margin: 0 auto;
    width: 500px;
    background: linear-gradient(rgb(228, 84, 84), rgb(199, 73, 73));
    border-radius: 12px;
    padding: 10px;
    color: black;
    border: 2px solid;
}

tr {
    border-bottom: 2px solid black;
}

th {
    text-align: center;
    margin-right: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
}

thead {
    border: 2px solid black;
}

td {
    text-align: center;
    margin-right: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
}

div.listaContato {
    margin: 0 auto;
    width: 500px;
    padding: 5px 15px;
    color: black;
    border-radius: 12px;
    border: 2px solid black;
    background: linear-gradient(rgb(228, 84, 84), rgb(199, 73, 73));
}

div h3.listaContatoTxt {
    text-align: center;
}

legend {
    padding: 0;
    font-weight: bold;
    margin: 0 auto;
}

fieldset {
    border-radius: 12px;
    width: 500px;
    margin: 0 auto;
    border: 2px solid black;
    background: linear-gradient(rgb(228, 84, 84), rgb(199, 73, 73));
}

label {
    font-weight: bold;
    color: black;
    margin: 0 10px;
}

input {
    background-color: rgb(12, 12, 12);
    border: 1px solid rgb(75, 75, 75);
    border-radius: 4px;
    color: whitesmoke;
}

.nomeInput {
    width: 150px;
}

.emailInput {
    width: 190px;
}

.cepInput {
    width: 156px;
}

.cadastrarDiv {
    margin: 0 auto;
    width: 139px;
}
