body {
	font-family: calibri, arial, times, sans-serif;
	background-color: rgb(12, 12, 12);
	color: black;
}

h1 {
	color: whitesmoke;
}

h2 {
	color: whitesmoke;
}

.center {
	text-align: center;
}

.Gpuimg {
	margin-top: 20px;
	width: 200px;
}

.MelhoresGPUscontainer {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 20px;
}

.melhoresGPUs {
	width: 225px;
	height: 300px;
	margin-right: 20px;
	background-color: rgb(197, 67, 67);
	background: linear-gradient(rgb(228, 84, 84), rgb(199, 73, 73));
	border-radius: 12px;
}

td img {
	width: 100px;
}

td img {
	width: 100px;
}

table {
	margin: 0 auto;
	background-color: rgb(197, 67, 67);
	background: linear-gradient(rgb(228, 84, 84), rgb(199, 73, 73));
	border-radius: 12px;
	padding: 10px;
}

th {
	text-align: center;
	margin-right: 20px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 4px;
}

thead {
	border: 2px solid black;
}

td {
	text-align: center;
	margin-right: 20px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 4px;
}
