body {
	font-family: calibri, arial, times, sans-serif;
	background-color: rgb(12, 12, 12);
	color: whitesmoke;
}

.center {
	text-align: center;
}

.Gpuimg{
	margin-top: 20px;
	width: 200px;
}


.MelhoresGPUscontainer{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.melhoresGPUs {
	width: 225px;
	height: 300px;
	margin-right: 20px;
	background-color: dodgerblue;
	border-radius: 12px;
}

td img {
	width: 100px;
}

